// bower:scss
@import "../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss";
// endbower

// Variables
@import "variables/color-variables";
@import "variables/typography-variables";
@import "variables/mq-variables";

// Utilities
@import "utilities/resets";
@import "utilities/mixins";

// Components
@import "components/header";
@import "components/intro";
@import "components/expertise";
@import "components/case-studies";
@import "components/footer";
@import "components/index";
@import "components/team";

// Fonts
@font-face {
    font-family: 'MuseoSans100';
    src: url('fonts/MuseoSans_100.otf');
}@font-face {
    font-family: 'MuseoSans300';
    src: url('fonts/MuseoSans_300.otf');
}@font-face {
    font-family: 'MuseoSans500';
    src: url('fonts/MuseoSans_500.otf');
}@font-face {
    font-family: 'MuseoSans700';
    src: url('fonts/MuseoSans_700.otf');
}@font-face {
    font-family: 'MuseoSans900';
    src: url('fonts/MuseoSans_900.otf');
}
