html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.header-container {
  background: pink;
  position: absolute;
  width: 100%;
  padding: 30px 0; }

.header-inner-container {
  display: table;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%; }

.header-logo-container,
.header-primary-nav-container {
  display: table-cell;
  vertical-align: middle; }

.logo,
.tagline {
  text-transform: uppercase;
  color: #fff; }

.logo {
  font-family: 'MuseoSans100', sans-serif;
  font-size: 30px;
  padding-bottom: 5px; }

.tagline {
  font-family: 'MuseoSans300', sans-serif;
  font-size: 14px;
  padding-left: 10px; }

.logo-pipe {
  color: #FFBF27; }

.nav-list {
  display: table;
  margin-left: auto; }

.nav-list > li {
  display: table-cell;
  padding-left: 20px; }

.nav-dropdown-list {
  display: none; }

.nav-list,
.nav-dropdown-list {
  font-family: 'MuseoSans900', sans-serif;
  font-size: 20px; }

.nav-list a {
  color: #fff; }

.nav-dropdown-list li:hover {
  display: block; }

.index-intro,
.expertise-intro,
.case-study-intro,
.team-intro,
.contact-intro {
  display: table;
  width: 100%;
  height: 673px;
  background: #3A8A00;
  padding-top: 100px; }

.intro {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff; }

.intro-content {
  max-width: 1024px;
  margin: 0 auto; }

.intro-title {
  font-family: 'MuseoSans100', sans-serif;
  font-size: 60px;
  padding-bottom: 20px; }

.intro-subtitle {
  font-family: 'MuseoSans900', sans-serif;
  font-size: 30px;
  padding-bottom: 40px; }

.intro-title strong {
  font-family: 'MuseoSans900', sans-serif;
  font-size: 30px; }

.intro-supporting-text {
  font-family: 'MuseoSans300', sans-serif;
  font-size: 18px;
  padding: 0 200px;
  text-align: center; }

.intro-button {
  margin-top: 30px;
  background: none;
  text-transform: uppercase;
  color: #FFBF27;
  font-family: 'MuseoSans900', sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid #FFBF27; }

.expertise-content-container {
  background: #E2EDD9; }

.expertise-content-inner-container {
  max-width: 1024px;
  margin: 0 auto; }

.expertise-header {
  text-align: center;
  padding: 50px 0 30px 0; }

.expertise-section-header {
  padding: 20px 0;
  text-align: center; }

.expertise-description {
  padding-bottom: 10px; }

.expertise-summary {
  column-count: 2;
  column-gap: 30px; }

.case-study-heading-container,
.case-study-section-content-container {
  display: table;
  width: 100%; }

.case-study-heading-container {
  height: 400px;
  background: pink; }

.case-study-section-content-container {
  height: 300px;
  background: #FFBF27; }

.case-study-heading-inner-container,
.case-study-section-content-inner-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.case-study-section-content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 300px;
  font-family: 'MuseoSans300';
  font-weight: bold; }

.footer-container {
  display: table;
  width: 100%;
  height: 300px;
  background: #122B48;
  color: white; }

.footer-inner-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto; }

.footer-logo-container {
  padding: 40px 0 20px 0; }

.footer-primary-nav-container {
  padding-bottom: 20px; }

.footer-primary-nav-container nav ul {
  margin: 0 auto;
  font-family: 'MuseoSans900', sans-serif;
  font-size: 14px; }

.copyright {
  font-family: 'MuseoSans300', sans-serif;
  font-size: 14px; }

.copyright span {
  color: #fff; }

.index-content-container {
  background: orange;
  height: 500px; }

.index-content-container,
.index-overview-list {
  display: table;
  margin: 0 auto;
  width: 100%; }

.index-content-inner-container {
  max-width: 1024px;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle; }

.index-header {
  text-align: center; }

.index-overview-list li {
  display: table-cell; }

.index-overview-list li a {
  text-decoration: none; }

.team-content-container {
  background: #E2EDD9; }

.team-content-inner-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0; }

.team-header {
  text-align: center; }

.team-member-name {
  padding: 40px 0 10px 0; }

.team-member-title {
  padding-bottom: 30px; }

.team-member-bio {
  column-count: 2;
  column-gap: 30px; }

@font-face {
  font-family: 'MuseoSans100';
  src: url("fonts/MuseoSans_100.otf"); }
@font-face {
  font-family: 'MuseoSans300';
  src: url("fonts/MuseoSans_300.otf"); }
@font-face {
  font-family: 'MuseoSans500';
  src: url("fonts/MuseoSans_500.otf"); }
@font-face {
  font-family: 'MuseoSans700';
  src: url("fonts/MuseoSans_700.otf"); }
@font-face {
  font-family: 'MuseoSans900';
  src: url("fonts/MuseoSans_900.otf"); }

/*# sourceMappingURL=main.css.map */
