%base-button {
    @include small;
    line-height: 1;
    font-weight: 900;
    cursor: pointer;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    display: inline-block;
    background-color: transparent;
    border: none;
    text-align: center;
}

%transparent-goldenrod-button {
    @extend %base-button;
    text-transform: uppercase;
    color: $goldenrod;
    padding: 20px 45px;
    border: 1px solid $goldenrod;
}

%solid-med-green-button {
    @extend %base-button;
    background-color: $med-green;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 35px;
}

%solid-light-blue-button {
    @extend %base-button;
    padding: 20px 60px;
    background-color: $light-blue;
    color: #fff;
}

%transparent-light-blue-button {
    @extend %base-button;
    border: 1px solid $light-blue;
    text-transform: uppercase;
    padding: 20px 60px;
}
