%transparent-goldenrod-button {
    margin-top:40px;
    background: none;
    text-transform: uppercase;
    color: $goldenrod;
    @include medium;
    font-weight: 900;
    padding: 20px 50px;
    border: 1px solid $goldenrod;
}

%solid-med-green-button {
    @include small;
    display: block;
    text-align: center;
    margin: 0 auto;
    background: $med-green;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 35px;
    border: none;
}
