@mixin base-button {
    @include small;
    font-family: 'MuseoSans', sans-serif;
    line-height: 1;
    font-weight: 900;
    cursor: pointer;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    display: inline-block;
    background-color: transparent;
    border: none;
    text-align: center;

    &:focus {
        outline: 0;
    }

    @media #{$mobile-width-mq} {
        @include very-small;
    }
}

@mixin transparent-dark-blue-button {
    @include base-button;
    text-transform: uppercase;
    color: $med-blue;
    padding: 20px 45px;
    border: 1px solid $med-blue;

    &:hover {
        background-color: $med-blue;
        color: #fff;
    }

    @media #{$mobile-width-mq} {
        padding: 15px 35px;
    }
}

@mixin solid-light-blue-button {
    background-color: $light-blue;
    color: #fff;
}

@mixin transparent-light-blue-button {
    @include base-button;
    color: $light-blue;
    border: 1px solid $light-blue;
    text-transform: uppercase;
    padding: 20px 60px;
    transition: 0.1s ease-in-out;

    &:hover {
        @include solid-light-blue-button;
    }

    @media #{$mobile-width-mq} {
        padding: 10px 25px;
    }
}

@mixin solid-med-green-button {
    @include base-button;
    background-color: $med-green;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 40px;

    &:hover {
        background-color: $light-blue;
    }

    @media #{$mid-width-mq} {
        padding: 15px 30px;
    }

    @media #{$mobile-width-mq} {
        padding: 10px 20px;
    }
}
