.drawer-open-trigger-container {
    text-align: center;
    display: block;
    overflow: hidden;
    padding: 48px 0;

    @media #{$mobile-width-mq} {
        padding: 0;
    }
}

.drawer-open-trigger {
    $line-width: 2000px;
    $line-height: 1px;

    @include large;
    display: inline-block;
    vertical-align: top;
    font-weight: 100;
    text-align: center;
    color: $med-blue;
    position: relative;

    @media #{$mid-width-mq} {
        @include semi-large;
    }

    @media #{$mobile-width-mq} {
        @include medium;
        font-weight: 100;
        margin: 32px 0;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: $line-width;
        height: $line-height;
        background-color: $very-light-blue;
        top: 50%;
    }

    &:before {
        left: ($line-width + 35px) * -1;

        @media #{$mid-width-mq} {
            left: ($line-width + 20px) * -1;
        }
    }

    &:after {
        right: ($line-width + 35px) * -1;

        @media #{$mid-width-mq} {
            right: ($line-width + 20px) * -1;
        }
    }
}

.drawer-content {
    display: none;
    position: relative;
    padding: 25px 0;
}

.drawer-content-wrapper {
    background-color: $med-green;
}

.drawer-content-inner {
    @include full-width-side-padding;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: $site-width;

    @media #{$mid-width-mq} {
        padding: 75px 0;
    }

    @media #{$mobile-width-mq} {
        padding: 25px 0;
    }
}

@mixin drawer-close-button {
    @include solid-med-green-button;
    position: absolute;
    left: 50%;
    margin-left: -70px;

    @media #{$mid-width-mq} {
        @include smallest;
        margin-left: -52.5px;
    }

    @media #{$mobile-width-mq} {
        margin-left: -35px;
    }
}

$close-button-offset: 0;
.drawer-content-top-close-button {
    @include drawer-close-button;
    top: $close-button-offset;
}

.drawer-content-bottom-close-button {
    @include drawer-close-button;
    bottom: $close-button-offset;
}



