.expertise-icon-heading-description-wrapper {
    display: table;
    width: 100%;
}

.expertise-icon-outer-wrapper,
.expertise-icon-wrapper,
.expertise-heading-description-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.expertise-icon-outer-wrapper,
.expertise-heading-description-wrapper {
        margin: 0 auto 20px auto;

    @media #{$mid-width-mq} {
        display: block;
    }
}

.expertise-icon-outer-wrapper {
    @media #{$mid-width-mq} {
        max-width: 150px;
    }

    @media #{$mobile-width-mq} {
        max-width: 100px;
    }
}

.expertise-heading-description-wrapper {
    width: 100%;
    padding-left: 40px;

    @media #{$mid-width-mq} {
        padding-left: 0;
    }
}

.expertise-icon-wrapper {
    width: 150px;
    height: 150px;
    min-width: 150px;
    background-color: $med-blue;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;

    @media #{$mobile-width-mq} {
        width: 100px;
        height: 100px;
        min-width: 0;
    }
}

.expertise-icon {
    text-align: center;
    vertical-align: middle;
    width: 75px;

    @media #{$mobile-width-mq} {
        width: 57px;
    }
}
