.footer {
    background: $dark-blue;
    color: white;
}

.footer-inner-container {
    text-align: center;
    max-width: $site-width;
    margin: 0 auto;
}

.footer-logo-container {
    padding: 75px 0 45px 0;
}

.footer-primary-nav-container {
    padding-bottom: 40px;
}

.footer-primary-nav-container nav ul {
    margin: 0 auto;
    @include very-small;

    a {
        color: $very-light-blue;
        text-transform: uppercase;
    }
}

.phone-number {
    color: #fff;
}

.copyright-container {
    padding-bottom: 200px;
}

.copyright {
    @include very-small;
}

.copyright span {
    color: #fff;
}
