.footer {
    background: $dark-blue;
    color: white;

    .logo-container {
        padding-bottom: 25px;
    }

    .primary-nav-container {
        padding-bottom: 20px;
    }

    .primary-nav-list {
        justify-content: center;
    }

    .primary-nav-list-link {
        @include very-small;
        color: $very-light-blue;
        text-transform: uppercase;

        @media #{$mobile-width-mq} {
            @include smallest;
            padding: 5px;
        }

        &:hover,
        &:active {
            color: goldenrod;
        }
    }

    .dropdown:hover {

        .primary-nav-list-link {
            background-color: transparent;
        }

        .nav-dropdown-list {
            display: none;
        }
    }
}

.footer-inner-container {
    @extend %site-container;
    text-align: center;
    padding: 100px 0;

    @media #{$mobile-width-mq} {
        padding: 50px 0;
    }
}

.address-container,
.copyright-container {
    @include very-small;

    @media #{$mobile-width-mq} {
        @include smallest;
        line-height: 1.2;
    }
}

.street-address,
.suite-number,
.postal-code,
.phone-number {
    &:after {
        content: "/";
        padding-left: 5px;

        @media #{$mobile-width-mq} {
            padding-left: 2.5px;
        }
    }
}

.postal-code:after {

    @media #{$mobile-width-mq} {
        content: "\A";
        white-space: pre;
    }
}

.phone-number {
    color: #fff;
}

.copyright span {
    color: #fff;
}
