.header {
    @include full-width-padding;
    box-sizing: border-box;
    display: table;
    position: absolute;
    left: 50%;
    width: $site-width;
    padding-top: 50px;
    margin-left: ($site-width/2) * -1;

    @media #{$site-width-mq} {
        width: 100%;
        left: 0;
        margin-left: 0;
    }

    .primary-nav-list {
        @media #{$mid-width-mq} {
            display: block;
        }
    }

    .primary-nav-list-link {
        @include medium;
        display: block;
        font-weight: 900;
        color: #fff;
        padding: 20px;

        @media #{$mid-width-mq} {
            @include small;
            text-transform: uppercase;
            display: block;
            color: $med-blue;
            padding: 0;
            margin-bottom: 15px;

            &.active,
            &:hover {
                color: $goldenrod;
            }
        }

        &.active,
        &:hover {
            color: $goldenrod;
        }
    }

    .nav-dropdown-list {

        @media #{$mid-width-mq} {
            display: block;
            position: relative;
            right: 0;
            margin-bottom: 15px;
            padding: 0;
        }

        > li {
            @media #{$mid-width-mq} {
                display: block;
                text-align: right;
                position: relative;
                margin-bottom: 5px;
                padding: 0;
            }
        }
    }

    .nav-dropdown-list-link {
        @media #{$mid-width-mq} {
            @include small;
            font-weight: 300;
            display: block;
            text-align: right;
        }

        @media #{$mobile-width-mq} {
            @include mobile-small;
        }
    }
}

.header-logo-container,
.header-primary-nav-container {
    display: table-cell;
    vertical-align: middle;
}

.header-logo-container {
    @media #{$mid-width-mq} {
        text-align: center;
    }
}

.logo {
    width: 205px;

    @media #{$mobile-width-mq} {
        width: 102.5px;
    }
}

.header-primary-nav-container {

    @media #{$mid-width-mq} {
        position: absolute;
        text-align: right;
        background-color: #fff;
        left: 0;
        top: 0;
        right: 0;
        padding: 80px 60px 50px 0;
        transform: translate3d(0, -100%, 0);
        transition: transform .5s ease-in-out;

        &.mobile-menu-active {
            transform: translate3d(0, 0, 0);
        }
    }
}

.mobile-menu-trigger {
    display: none;

    @media #{$mid-width-mq} {
        @include base-button;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 80px;
        height: 70px;
        background-color: #fff;
        transform: translate3d(0, 100%, 0);
    }
}

.mobile-menu-trigger-text-wrapper {
    width: 44px;
    height: 4px;
    background-color: $dark-green;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -22px;
    transition: background-color .5s;

    &:before,
    &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: $dark-green;
        transition: transform .5s ease-in-out;
        transform-origin: 0 0;
    }

    &:before {
        top: -14px;
    }

    &:after {
        bottom: -14px;
    }

    .mobile-menu-active & {
        background-color: transparent;

        &:before {
            transform: rotate(43deg) translate3d(5px, -6px, 0);
        }

        &:after {
            transform: rotate(-50deg) translate3d(2px, 6px, 0);
        }
    }
}

.mobile-menu-trigger-text {
    @extend %visuallyhidden;
}



