.header-container {
    background: pink;
}

.header-inner-container {
    display: table;
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}

.header-logo-container,
.header-primary-nav-container {
    display: table-cell;
}

.nav-list {
    display: table;
}

.nav-list > li {
    display: table-cell;
}

.nav-dropdown-list {
    display: none;
}

.nav-dropdown-list li:hover {
    display: block;
}
