.header {
    @include full-width-padding;
    box-sizing: border-box;
    display: table;
    position: absolute;
    left: 50%;
    width: $site-width;
    padding-top: 30px;
    margin-left: ($site-width/2) * -1;

    @media #{$site-width-mq} {
        width: 100%;
        left: 0;
        margin-left: 0;
    }
}

.header-logo-container,
.header-primary-nav-container {
    display: table-cell;
    vertical-align: middle;

    @media (max-width: 835px) {
        display: block;
        text-align: center;
    }
}


@media #{$mobile-width-mq} {
    .header-primary-nav-container {
        display: none;
    }
}

.logo,
.tagline {
    text-transform: uppercase;
    color: #fff;
}

.logo {
    @include semi-large;
    padding-bottom: 5px;
}

.tagline {
    @include very-small;
    padding-left: 10px;
}

.logo-pipe {
    color: $goldenrod;
}

.primary-nav-list {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;

    > li {
        position: relative;
    }

    @media (max-width: 835px) {
        justify-content: center;
        margin-top: 15px;
    }
}

.primary-nav-list-link {
    display: block;
    @include medium;
    font-weight: 900;
    color: #fff;
    padding: 20px;

    &.active,
    &:hover {
        color: $goldenrod;
    }

    .dropdown:hover & {
        background: #fff;
        color: $goldenrod;
    }

    @media #{$site-width-mq} {
        padding: 10px;
    }
}

.nav-dropdown-list {
    top: 100%;
    background: #fff;
    padding: 35px 0;
    display: none;
    position: absolute;

    .dropdown:hover & {
        display: block;
    }

    > li {
        padding: 0 40px;
        text-align: left;
    }
}

.nav-dropdown-list-link {
    @include small;
    font-weight: 900;
    color: $med-blue;
    white-space: nowrap;

    &:hover {
        color: $goldenrod;
    }
}



