.intro {
    display: table;
    width: 100%;
    padding: 205px 0 130px 0;
    background-size: cover;
    background-position: center top;

    @media #{$mobile-width-mq} {
        padding: 120px 0 60px 0;
    }
}

.intro-content-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.intro-content {
    max-width: 1024px;
    margin: 0 auto;
}


.intro-title {
    @include extra-large;
    @include full-width-side-padding;
    font-weight: 100;
    padding-bottom: 35px;

    @media #{$mobile-width-mq} {
        @include semi-large;
        @include clear-side-padding;
        padding-bottom: 20px;
    }

    em,
    strong {
        @include semi-large;
        @include full-width-side-padding;
        font-weight: 900;
        display: block;
        padding-top: 30px;

        @media #{$mobile-width-mq} {
            @include small;
            @include clear-side-padding;
            padding-top: 10px;
        }
    }
}

.intro-subtitle {
    @include full-width-side-padding;
    @include semi-large;
    font-weight: 900;

    @media #{$mobile-width-mq} {
        @include small;
        @include clear-side-padding;
        margin-bottom: 20px;
    }
}

.intro-supporting-text {
    @include small;
    font-weight: 100;
    max-width: 515px;
    margin: 0 auto;
    text-align: center;

    @media #{$mobile-width-mq} {
        @include very-small;
        @include full-width-side-padding;
        max-width: none;
    }
}

.intro-learn-more-button {
   @include transparent-goldenrod-button;
}

