.intro {
    display: table;
    width: 100%;
    height: 673px;
    background-size: cover;
    background-position: center top;
}

.intro-content-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.intro-content {
    max-width: 1024px;
    margin: 0 auto;
}


.intro-title {
    @include extra-large;
    line-height: 30px;
    font-weight: 100;
    margin-bottom: 25px;

    @media #{$mobile-width-mq} {
        @include semi-large;
        @include clear-side-padding;
        margin-bottom: 0;
    }

    em,
    strong {
        @include semi-large;
        @include full-width-side-padding;
        color: $med-blue;
        font-weight: 900;
        display: block;
        margin-top: 30px;

        @media #{$mobile-width-mq} {
            @include small;
            @include clear-side-padding;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}

.intro-subtitle {
    @include full-width-side-padding;
    @include semi-large;
    color: $med-blue;
    font-weight: 900;
    margin-bottom: 20px;

    @media #{$mobile-width-mq} {
        @include small;
    }
}

.intro-supporting-text {
    @include full-width-side-padding;
    @include small;
    font-weight: 100;
    max-width: 720px;
    margin: 0 auto;
    text-align: center;

    @media #{$mobile-width-mq} {
        @include very-small;
        max-width: none;
    }
}

.intro-learn-more-button {
   @include transparent-dark-blue-button;
}

