.intro {
    display: table;
    width: 100%;
    padding: 205px 0 130px 0;
    background-size: cover;
    background-position: center top;

    @media #{$mobile-width-mq} {
        padding: 180px 0 95px 0;
    }
}

.intro-content-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.intro-content {
    max-width: 1024px;
    margin: 0 auto;
}


.intro-title {
    @include extra-large;
    font-weight: 100;
    padding: 0 50px 35px 50px;

    em {
        font-size: 30px;
        font-weight: 900;
        display: block;
        padding-top: 30px;
    }
}

.intro-subtitle {
    @include semi-large;
    font-weight: 900;
}

.intro-title strong {
    @include semi-large;
    font-weight: 900;
}

.intro-supporting-text {
    @include small;
    font-weight: 900;
    max-width: 515px;
    margin: 0 auto;
    text-align: center;

    @media #{$mobile-width-mq} {
        padding: 0 60px;
    }
}

.intro-learn-more-button {
    @extend %transparent-goldenrod-button;
}

