.index-intro,
.expertise-intro,
.case-study-intro,
.team-intro,
.contact-intro {
    display: table;
    width: 100%;
    height: 673px;
    background: $dark-green;
    padding-top: 100px;
}

.intro {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.intro-content {
    max-width: 1024px;
    margin: 0 auto;
}

.intro-title {
    @include ex-lg-100;
    padding-bottom: 20px;
}

.intro-subtitle {
    @include med-900;
    padding-bottom: 40px;
 }

.intro-title strong {
    @include med-900;
}

.intro-supporting-text {
    @include p-300;
    padding: 0 200px;
    text-align: center;
}

.intro-button {
    margin-top: 30px;
    background: none;
    text-transform: uppercase;
    color: $goldenrod;
    @include sml-900;
    padding: 10px 20px;
    border: 1px solid $goldenrod;
}

