.case-study-page {
    background-color: $dark-green;

    .intro-title {
        @media #{$mobile-width-mq} {
            padding-bottom: 10px;
        }
    }
}


.case-study-heading-container {
    background-size: cover;
    background-position: center top;
    padding: 155px 0 130px 0;

    @media #{$mid-width-mq} {
        padding: 116px 0 98px 0;
    }

    @media #{$mobile-width-mq} {
        padding: 77.5px 0 65px 0;
    }
}

.case-study-heading {
    @include extra-large;
    color: $lightest-blue;
    font-weight: 100;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;

    @media #{$mobile-width-mq} {
        @include small;
        @include full-width-side-padding;
    }
}

.case-study-summary-text-container {
    background: $lightest-blue;
    padding: 85px 0;

    @media #{$mobile-width-mq} {
        padding: 40px 0;
    }
}

.case-study-summary-text {
    @include small;
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    @media #{$mobile-width-mq} {
        @include smallest;
        @include full-width-side-padding;
    }
}

