.case-study-heading-container,
.case-study-section-content-container {
    display: table;
    width: 100%;
}

.case-study-heading-container {
    height: 400px;
    background: $med-blue;
}

.case-study-heading {
    @include extra-large;
    color: $lightest-blue;
    font-weight: 100;
    max-width: 800px;
    margin: 0 auto;
}

.case-study-section-content-container {
    background: $lightest-blue;
}

.case-study-heading-inner-container,
.case-study-section-content-inner-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.case-study-section-content {
    @include small;
    font-weight: 300;
    max-width: 800px;
    padding: 85px 0;
    margin: 0 auto;
}

