.case-study-page {
    background-color: $dark-green;

    .intro-subtitle {
        padding: 0 30px 15px 30px;

        @media #{$mid-width-mq} {
            padding: 0 22.5px 11px 22.5px;
        }

        @media #{$mobile-width-mq} {
            padding: 0 15px 7.5px 15px;
        }
    }

    .intro-supporting-text {
        font-weight: 300;
        max-width: 710px;

        @media #{$mid-width-mq} {
            max-width: 530px;
        }

        @media #{$mobile-width-mq} {
            max-width: 215px;
        }
    }
}

.case-study-heading-container {
    background-size: cover;
    background-position: center top;
    padding: 155px 0 130px 0;

    @media #{$mid-width-mq} {
        padding: 116px 0 98px 0;
    }

    @media #{$mobile-width-mq} {
        padding: 77.5px 0 65px 0;
    }
}

.case-study-heading {
    @include extra-large;
    color: $lightest-blue;
    font-weight: 100;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;

    @media #{$mid-width-mq} {
        @include large;
        max-width: 450px;
    }

    @media #{$mobile-width-mq} {
        @include mobile-extra-large;
        font-weight: 100;
        max-width: 215px;
    }
}

.case-study-summary-text-container {
    background: $lightest-blue;
    padding: 85px 0;

    @media #{$mid-width-mq} {
        padding: 64px;
    }

    @media #{$mobile-width-mq} {
        padding: 42.5px;
    }
}

.case-study-summary-text {
    @include small;
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    @media #{$mid-width-mq} {
        @include very-small;
        max-width: 450px;
    }

    @media #{$mobile-width-mq} {
        @include mobile-very-small;
        max-width: 215px;
    }
}

