.case-study-page {
    background-color: $dark-green;

    .intro-subtitle {
        padding-bottom: 15px;
    }

    .intro-supporting-text {
        font-weight: 100;
        max-width: 710px;
    }
}

.case-study-heading-container {
    background-size: cover;
    background-position: center top;
    padding: 155px 0 130px 0;
}

.case-study-heading {
    @include extra-large;
    color: $lightest-blue;
    font-weight: 100;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;

    @media #{$mobile-width-mq} {
        max-width: 430px;
    }
}

.case-study-summary-text-container {
    background: $lightest-blue;
}

.case-study-summary-text {
    @include small;
    font-weight: 300;
    max-width: 800px;
    padding: 85px 0;
    margin: 0 auto;
    text-align: center;

    @media #{$mobile-width-mq} {
        max-width: 430px;
    }
}

