.contact-form {
    @include full-width-side-padding;
    max-width: 655px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 90px;

    button[type="submit"] {
        display: block;
    }

    @media #{$mobile-width-mq} {
        padding-top: 15px;
        padding-bottom: 70px;
    }
}

.label-input-wrapper {
    display: table;
    width: 100%;
    border-bottom: 1px solid $light-blue;
    padding: 50px 0 30px 0;

    @media #{$mobile-width-mq} {
        padding: 0;
    }
}

.first-name-label,
.last-name-label,
.email-label {
    @include contact-form-label;
    display: table-cell;
    margin-right: 25px;
}

.first-name-input,
.last-name-input,
.email-input {
    @include contact-form-input;
    font-family: 'MuseoSans';
    display: table-cell;
    width: 100%;

    @media #{$mobile-width-mq} {
        padding-left: 0;
        padding-right: 0;
    }
}

.questions-comments-fieldset {
    margin: 60px 0 55px 0;

    @media #{$mobile-width-mq} {
        margin: 20px 0 30px 0;
    }
}

.parsley-errors-list {
    @include very-small;
    font-weight: 900;
    padding: 30px 30px;
    background-color: $goldenrod;
    color: $dark-blue;
    display: none;

    &.filled {
        display: block;
    }

    @media #{$mobile-width-mq} {
        @include very-small;
        padding: 15px 15px;
    }
}

.parsley-type:before,
.parsley-required:before {
    @extend %icon;
    content: "\f101";
    background-color: #fff;
    padding: 5px 0 5px 11px;
    margin-right: 10px;
}

.questions-comments-label {
    @include contact-form-label;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.questions-comments-textarea {
    @include medium;
    font-family: MuseoSans, sans-serif;
    font-weight: 300;
    color: $dark-grey;
    display: block;
    max-width: 555px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 165px;
    border: none;

    &:focus {
        outline: 0;
    }

    @media #{$mobile-width-mq} {
        @include very-small;
        max-width: 300px;
        margin: 0 auto;
        height: 115px;
    }
}

.direct-email-fieldset {
    margin-bottom: 70px;

    @media #{$mobile-width-mq} {
        margin-bottom: 40px;
    }
}

.direct-email-button-wrapper {
    text-align: center;

    @media #{$mobile-width-mq} {
        padding-left: 0;
        padding-right: 0;
    }
}

.direct-email-label {
    @include medium;
    font-weight: 900;
    color: $dark-grey;
    text-align: center;

    @media #{$mobile-width-mq} {
        @include very-small;
        margin-bottom: 20px;
    }
}

.team-member-email-container {
    display: inline-block;
    vertical-align: top;

    @media #{$mobile-width-mq} {
        display: block;
    }
}

.team-member-email-option-label {
    @include transparent-light-blue-button;
    text-transform: inherit;
    margin: 0 20px;

    @media #{$mobile-width-mq} {
        margin: 5px;
        width: 150px;
    }

    .checkbox-active & {
        @include solid-light-blue-button;
    }
}

.team-member-email-option-checkbox {
    @extend %visuallyhidden;
}

.submit-button {
    $line-width: 2000px;
    $line-height: 1px;

    @include solid-med-green-button;
    display: inline-block;
    margin: 0 auto;
    position: relative;

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: $line-width;
        height: $line-height;
        background-color: $very-light-blue;
        top: 50%;
    }

    &:before {
        left: ($line-width + 35px) * -1;

        @media #{$mid-width-mq} {
            left: ($line-width + 20px) * -1;
        }
    }

    &:after {
        right: ($line-width + 35px) * -1;

        @media #{$mid-width-mq} {
            right: ($line-width + 20px) * -1;
        }
    }
}


