.contact-page {
    .intro-title {
        color: $very-light-blue;
    }

    .intro-supporting-text {
        font-weight: 100;
    }
}

.contact-form {
    @include full-width-padding;
    max-width: 655px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 90px;

    button[type="submit"] {
        display: block;
    }

    @media #{$mobile-width-mq} {
        padding: 15px 0 70px 0;
    }
}

.label-input-wrapper {
    display: block;
    border-bottom: 1px solid $light-blue;

    margin: 0 50px;
}

.first-name-label,
.last-name-label,
.email-label {
    @include contact-form-label;
    margin-right: 25px;
}

.first-name-input,
.last-name-input,
.email-input {
    @include contact-form-input;

    @media #{$mobile-width-mq} {
        max-width: 50%;
        padding-left: 0;
        padding-right: 0;
    }
}

.questions-comments-fieldset {
    margin: 60px 0 55px 0;

    @media #{$mobile-width-mq} {
        margin: 17px 0 32px 0;
    }
}

.contact-form-error-message {
    @include very-small;
    font-weight: 900;
    padding: 30px 30px;
    background-color: $goldenrod;
    color: $dark-blue;
    margin: 0 50px;

    @media #{$mobile-width-mq} {
        @include mobile-very-small;
        padding: 15px 15px;
    }
}

.questions-comments-label {
    @include contact-form-label;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.questions-comments-textarea {
    @include medium;
    font-family: MuseoSans, sans-serif;
    font-weight: 300;
    color: $dark-grey;
    display: block;
    max-width: 555px;
    margin: 0 auto;
    width: 100%;
    height: 165px;
    border: none;

    @media #{$mobile-width-mq} {
        @include mobile-medium;
        max-width: 220px;
        margin: 0 auto;
        height: 115px;
    }
}

.direct-email-fieldset {
    margin-bottom: 70px;

    @media #{$mobile-width-mq} {
        margin-bottom: 30px;
    }
}

.direct-email-button-wrapper {
    text-align: center;

    @media #{$mobile-width-mq} {
        padding-left: 0;
        padding-right: 0;
    }
}

.direct-email-label {
    @include medium;
    font-weight: 900;
    color: $dark-grey;
    text-align: center;

    @media #{$mobile-width-mq} {
        @include mobile-medium;
    }
}

.sydney-dailey-email-button,
.joan-kradin-email-button {
    @include small;
    @include transparent-light-blue-button;
    font-weight: 900;
    text-transform: inherit;
    margin: 0 20px;

    &:hover {
        background-color: $light-blue;
        color: white;
    }
}

.submit-button {
    $line-width: 2000px;
    $line-height: 1px;

    @include solid-med-green-button;
    font-size: 18px;
    display: inline-block;
    margin: 0 auto;
    position: relative;

    &:hover {
        background-color: $light-blue;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: $line-width;
        height: $line-height;
        background-color: $very-light-blue;
        top: 50%;
    }

    &:before {
        left: ($line-width + 35px) * -1;

        @media #{$mid-width-mq} {
            left: ($line-width + 20px) * -1;
        }

        @media #{mobile-width-mq} {
            left: ($line-width + 5px) * -1;
        }
    }

    &:after {
        right: ($line-width + 35px) * -1;

        @media #{$mid-width-mq} {
            right: ($line-width + 20px) * -1;
        }

        @media #{$mobile-width-mq} {
            right: ($line-width + 5px) * -1;
        }
    }
}


