.contact-page {
    .intro-title {
        color: $very-light-blue;
    }

    .intro-supporting-text {
        font-size: 20px;
        font-weight: 100;
        line-height: 1.4;
        max-width: 600px;

        @media #{$mobile-width-mq} {
            max-width: 435px;
        }
    }

}
