.expertise-content-container {
    background: $light-green;
}

.expertise-content-inner-container {
    max-width: 1024px;
    margin: 0 auto;
}

.expertise-page {

    .intro-title {
        color: $very-light-blue;

        strong {
            color: #fff;
        }
    }

    .intro-supporting-text {
        max-width: 720px;
    }
}

.expertise-header {
    text-align: center;
    padding: 50px 0 30px 0;
}

.expertise-section-header {
    padding: 20px 0;
    text-align: center;
}

.expertise-description {
    padding-bottom: 10px;
}

.expertise-summary {
    column-count: 2;
    column-gap: 30px;
}
