.intro-continued-supporting-text-container {
    padding: 50px 0 15px 0;
    background: $med-blue;

    @media #{$mid-width-mq} {
        @include full-width-padding;
    }
}

.intro-continued-supporting-text {
    @include small;
    margin: 0 auto;
    color: #fff;
    max-width: 720px;
    font-weight: 100;
    text-align: center;

    p {
        padding-bottom: 35px;
    }
}

.expertise-content-container {
    background: $light-green;
}

.expertise-page {

    .intro-title {
        color: $very-light-blue;

        strong {
            color: #fff;

            @media #{$small-mobile-mq} {
                @include medium;
            }
        }

    }

    .intro-supporting-text {
        max-width: 720px;
        font-weight: 100;

        @media #{$mobile-width-mq} {
            max-width: 420px;
        }
    }

}

.expertise-section {
    background: $med-green;
    padding: 70px 0 95px 0;
    margin: 100px 0;
}

.expertise-section-top-close-button,
.expertise-section-bottom-close-button {
    @extend %solid-med-green-button;
    position: relative;
    display: block;
    margin: 0 auto;
    font-weight: 100;
}

.expertise-section-top-close-button {
    bottom: 102px;

    @media #{$small-mobile-mq} {
        @include very-small;
    }
}

.expertise-section-bottom-close-button {
    top: 127px;

    @media #{$small-mobile-mq} {
        @include very-small;
    }
}

.expertise-header-summary-wrapper {
    @include full-width-padding;
    max-width: $site-width;
    margin: 0 auto;
}

.expertise-header {
    @include extra-large;
    font-weight: 100;
    color: $med-blue;
    text-align: center;
    padding: 50px 30px 30px 30px;

    @media #{$small-mobile-mq} {
        @include large;
    }
}

.expertise-header-icon,
.expertise-section-header {
    display: table;
}

.expertise-section-open-trigger-container {
    display: block;
    text-align: center;
    overflow: hidden;
}

$expertise-hr-width: 2000px;
$expertise-hr-height: 1px;
.expertise-section-open-trigger {
    @include large;
    display: inline-block;
    vertical-align: top;
    font-weight: 100;
    text-align: center;
    color: $med-blue;
    position: relative;

    @media #{$mobile-width-mq} {
        @include semi-large;
        font-weight: 100;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: $expertise-hr-width;
        height: $expertise-hr-height;
        background-color: $very-light-blue;
        top: 50%;
    }

    &:before {
        left: ($expertise-hr-width + 35px) * -1;

        @media #{$small-mobile-mq} {
            left: ($expertise-hr-width + 10px) * -1;
        }
    }

    &:after {
        right: ($expertise-hr-width + 35px) * -1;

        @media #{$small-mobile-mq} {
            right: ($expertise-hr-width + 10px) * -1;
        }
    }
}

.expertise-section-heading {
    @include extra-large;
    font-weight: 100;
    color: #fff;
    padding-bottom: 10px;

    @media #{$mobile-width-mq} {
        text-align: center;
        padding-bottom: 20px;
    }

    @media #{$small-mobile-mq} {
        @include semi-large;
    }
}

.expertise-description {
    @include small;
    font-weight: 900;
    color: $dark-blue;
    text-transform: uppercase;
    margin-bottom: 50px;

    @media #{$mobile-width-mq} {
        text-align: center;
    }

    @media #{$small-mobile-mq} {
        @include very-small;
    }
}

.expertise-summary {
    @include medium;
    color: $dark-grey;
    font-weight: 100;
    column-count: 2;
    column-gap: 30px;
    column-width: 400px;

    p {
        padding-bottom: 35px;
    }
}

