.intro-continued-supporting-text-container {
    padding: 50px 0 15px 0;
    background: $med-blue;

    @media #{$mid-width-mq} {
        @include full-width-padding;
    }
}

.intro-continued-supporting-text {
    @include small;
    margin: 0 auto;
    color: #fff;
    max-width: 720px;
    font-weight: 100;
    text-align: center;
}

.expertise-content-container {
    background: $light-green;
}

.expertise-page {

    .intro-title {
        color: $very-light-blue;

        strong {
            color: #fff;

            @media #{$mobile-width-mq} {
                @include medium;
            }
        }
    }

    .intro-supporting-text {
        max-width: 720px;
        font-weight: 100;

        @media #{$mobile-width-mq} {
            max-width: 420px;
        }
    }
}

.expertise-section {
    @extend %med-green-section-full-width-wrapper;
}

.expertise-section-top-close-button {
    @extend %solid-med-green-button;
    @include green-white-top-close-button;
}

.expertise-section-bottom-close-button {
    @extend %solid-med-green-button;
    @include green-white-bottom-close-button;
}

.expertise-header-summary-wrapper {
   @include med-green-section-inner-wrapper;
}

.expertise-header {
    @include extra-large-dark-blue-header;
    @include full-width-padding;
}

.expertise-section-open-trigger-container {
    @extend %open-trigger-container;
}

.expertise-section-open-trigger {
   @include heading-with-lines-on-sides;
}

.expertise-section-heading {
    @include extra-large-white-subheading;
}

.expertise-description {
    @include small-supporting-text-under-white-subheading;
}

.expertise-summary {
    @extend %column-container;

    p {
        @include paragraph-text-in-columns;
    }
}

