.intro-continued-supporting-text-container {
    padding: 50px 0 15px 0;
    background: $med-blue;
}

.intro-continued-supporting-text {
    @include small;
    margin: 0 auto;
    color: #fff;
    max-width: 720px;
    font-weight: 100;
    text-align: center;

    p {
        padding-bottom: 35px;
    }
}

.expertise-content-container {
    background: $light-green;
}

.expertise-page {

    .intro-title {
        color: $very-light-blue;

        strong {
            color: #fff;
        }
    }

    .intro-supporting-text {
        max-width: 720px;
        font-weight: 100;
    }
}

.expertise-section {
    background: $med-green;
    padding: 70px 0 95px 0;
}

.expertise-section-close-button {
    @extend %solid-med-green-button;
}

.expertise-header-summary-wrapper {
    @include full-width-padding;
    max-width: $site-width;
    margin: 0 auto;
}

.expertise-header {
    @include extra-large;
    font-weight: 100;
    color: $med-blue;
    text-align: center;
    padding: 50px 0 30px 0;
}

.expertise-header-icon,
.expertise-section-header {
    display: table;
}

.expertise-section-heading-closed {
    @include large;
    text-align: center;
    color: $med-blue;
}

.expertise-section-heading {
    display: table-cell;
    vertical-align: middle;
}

.expertise-section-heading {
    @include extra-large;
    font-weight: 100;
    color: #fff;
    padding-left: 40px;
    text-align: center;

    &:before {
        content: "";
        display: inline-block;
        width: $expertise-link-width;
        height: $expertise-link-width;
        background: $med-blue;
        border-radius: 100%;
        margin-bottom: 10px;
    }
}

.expertise-description {
    padding-bottom: 10px;
}

.expertise-summary {
    @include medium;
    color: $dark-grey;
    font-weight: 100;
    column-count: 2;
    column-gap: 30px;

    p {
        padding-bottom: 35px;
    }
}

