.intro-continued-supporting-text-container {
    @include full-width-side-padding;
    padding-top: 70px;
    padding-bottom: 35px;
    background: $light-blue;

    @media #{$mobile-width-mq} {
        padding-top: 25px;
        padding-bottom: 7.5px;
    }
}

.intro-continued-supporting-text {
    @include small;
    margin: 0 auto;
    color: #fff;
    max-width: 720px;
    font-weight: 100;
    text-align: center;

    @media #{$mobile-width-mq} {
        @include very-small;
        max-width: none;
    }
}

.expertise-content-container {
    @extend %main-content-wrapper;

    @media #{$mobile-width-mq} {
        margin-bottom: 47.5px;
    }
}

.expertise-icon-heading-description-wrapper {
    display: table;
    width: 100%;
}

.expertise-icon-wrapper,
.expertise-heading-description-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.expertise-icon-outer-wrapper,
.expertise-heading-description-wrapper {

    @media #{$mid-width-mq} {
        display: block;
    }
}

.expertise-heading-description-wrapper {
    width: 100%;
    padding-left: 40px;

    @media #{$mid-width-mq} {
        padding-left: 0;
    }
}

.expertise-header {
    @include extra-large-dark-blue-header;
    @include full-width-side-padding;
    padding-bottom: 5px;

    @media #{$mobile-width-mq} {
        padding-top: 45px;
        padding-bottom: 5px;
    }
}

.supporting-tagline {
    @include small-supporting-lightblue-uppercase-text;
    text-align: center;
}

.expertise-section-heading {
    @include extra-large-white-subheading;
}

.expertise-description {
    @include small-supporting-lightblue-uppercase-text;
}


.expertise-summary-column-one p:first-of-type {
    @include semi-large;
    font-weight: 100;

    @media #{$mid-width-mq} {
        @include medium;
    }

    @media #{$mobile-width-mq} {
        @include small;
    }
}

.expertise-summary {
    display: table;
    width: 100%;
    padding-top: 25px;
}

.expertise-summary-column-one {
    padding-right: 45px;
}

.expertise-summary-column-two {
    padding-left: 45px;
}

.expertise-summary-column-one,
.expertise-summary-column-two {
    display: table-cell;
    width: 50%;

    @media #{$mid-width-mq} {
        display: block;
        width: 75%;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    p {
        @include paragraph-text-in-columns;
    }
}

