.expertise-overview {
    background: $light-green;
}

.expertise-overview-container {
    @extend %site-container;
    padding: 105px 0 120px 0;

    @media #{$mid-width-mq} {
        padding: 78px 0 90px 0;
    }

    @media #{$mobile-width-mq} {
        padding: 52.5px 0 60px 0;
    }
}

.expertise-overview-header {
    @include extra-large;
    @include full-width-side-padding;
    text-align: center;
    padding-bottom: 60px;
    font-weight: 100;
    color: $med-blue;

    @media #{$mid-width-mq} {
        @include large;
        padding-bottom: 45px;
    }

    @media #{$mobile-width-mq} {
        @include semi-large;
        padding-bottom: 30px;
    }
}

.expertise-overview-list {
    @include full-width-side-padding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        flex-shrink: 0;

        @media #{$mid-width-mq} {
            width: 33%;
            padding-bottom: 80px;

            @media #{$mid-width-mq} {
                padding-bottom: 60px;
            }
        }

        @media (max-width: 600px) {
            width: 50%;
            padding-bottom: 40px;
        }
    }
}

$expertise-link-width: 150px;
.expertise-list-link {
    @include small;
    text-decoration: none;
    font-weight: 900;
    color: $med-blue;
    max-width: $expertise-link-width;
    display: block;
    text-align: center;
    margin: 0 auto;

    @media #{$mid-width-mq} {
        max-width: none;
    }

    @media #{$mid-width-mq} {
        @include very-small;
        max-width: $expertise-link-width / 1.5;
    }

    @media #{$mobile-width-mq} {
        @include smallest;
        max-width: $expertise-link-width / 2;
    }

    &:before {
        content: "";
        display: inline-block;
        width: $expertise-link-width;
        height: $expertise-link-width;
        background: $med-blue;
        border-radius: 100%;
        margin-bottom: 10px;

        @media #{$mid-width-mq} {
            width: $expertise-link-width / 1.5;
            height: $expertise-link-width / 1.5;
        }

        @media #{$mobile-width-mq} {
            width: $expertise-link-width / 2;
            height: $expertise-link-width / 2;
            margin-bottom: 5px;
        }
     }
}

.expertise-list-link-title {
    display: block;
}
