.expertise-overview {
    background: $light-green;
}

.expertise-overview-container {
    @extend %site-container;
    padding: 105px 0 120px 0;

    .supporting-tagline {
        color: $dark-green;
    }
}

.expertise-overview-header {
    @include extra-large;
    @include full-width-side-padding;
    text-align: center;
    font-weight: 100;
    color: $med-blue;

    @media #{$mobile-width-mq} {
        @include large;
    }
}

.expertise-overview-list {
    @include full-width-side-padding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;

    @media #{$mobile-width-mq} {
        @include mobile-width-side-padding;
    }

    li {
        flex-shrink: 0;

        @media #{$site-width-mq} {
            width: 33%;
        }

        @media #{$mobile-width-mq} {
            width: 50%;
        }
    }
}

$expertise-link-width: 180px;
$expertise-link-mobile-width: 140px;
$expertise-link-height: 250px;
$expertise-link-mobile-height: 200px;
.expertise-list-link {
    text-decoration: none;
    width: $expertise-link-width;
    height: $expertise-link-height;
    display: table;
    text-align: center;
    margin: 0 auto;

    @media #{$mobile-width-mq} {
        width: $expertise-link-mobile-width;
        height: $expertise-link-mobile-height;
    }

    &:hover {
        background-color: #fff;

        .expertise-list-link-title {
            color: $dark-green;
        }
    }

    @media #{$mid-width-mq} {
        @include very-small;
        max-width: none;
    }
}

.expertise-icon-link-title-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    box-sizing: border-box;
}

.expertise-icon-wrapper {
    margin-bottom: 30px;

    @media #{$mobile-width-mq} {
        margin-bottom: 10px;
    }
}

.expertise-icon {
    width: 112px;

    @media #{$mobile-width-mq} {
        width: 90px;
    }
}

.expertise-list-link-title {
    @include small;
    display: block;
    font-weight: 900;
    color: $med-blue;

    @media #{$mobile-width-mq} {
        @include very-small;
    }
}
