.team-intro .intro {
    padding: 200px 0 150px 0;

    .intro-title {
        color: $very-light-blue;
    }
}

.team-content-container {
    background: $light-green;
}

.team-header {
    @include extra-large;
    font-weight: 100;
    text-align: center;
    padding: 115px 0 75px 0;
    color:$med-blue;
}

.team-member-info {
    background: $med-green;
}

.team-member-close-button {
    @extend %solid-med-green-button;
}

.team-member-info-wrapper {
    @include full-width-padding;
    max-width: $site-width;
    margin: 0 auto;
}

.team-member-name {
    @include extra-large;
    font-weight: 100;
    color: #fff;
    padding: 40px 0 10px 0;
}

.team-member-title {
    @include medium;
    font-weight: 900;
    text-transform: uppercase;
    color: $light-blue;
    padding-bottom: 30px;
}

.team-member-bio {
    @include small;
    column-count: 2;
    column-gap: 30px;
    font-weight: 100;
    color: $dark-grey;

    p {
        padding-bottom: 35px;
    }
}
