.team-content-container {
    background: $light-green;
}

.team-content-inner-container {
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 115px;
}

.team-header {
    @include extra-large;
    font-weight: 100;
    text-align: center;
    padding: 115px 0 75px 0;
    color:$med-blue;
}

.team-member-name {
    padding: 40px 0 10px 0;
}

.team-member-title {
    padding-bottom: 30px;
}

.team-member-bio {
    column-count: 2;
    column-gap: 30px;
}
