.team-intro .intro {
    padding: 200px 0 150px 0;

    .intro-title {
        color: $very-light-blue;
    }

    .intro-subtitle {

        @media #{$mobile-width-mq} {
            max-width: 400px;
            margin: 0 auto;
        }
    }
}

.team-content-container {
    background: $light-green;
}

.team-header {
    @include extra-large;
    font-weight: 100;
    text-align: center;
    padding: 115px 0 75px 0;
    color:$med-blue;

    @media #{$mobile-width-mq} {
        max-width: 440px;
        margin: 0 auto;
    }

    @media #{$small-mobile-mq} {
        @include large;
    }
}

.team-member-info {
    margin: 100px auto;
    background: $med-green;
    @include full-width-padding;
}

.team-member-top-close-button {
    @extend %solid-med-green-button;
    position: relative;
    bottom: 35px;
    display: block;
    margin: 0 auto;

    @media #{$small-mobile-mq} {
        @include very-small;
    }
}

.team-member-bottom-close-button {
    @extend %solid-med-green-button;
    position: relative;
    top: 33px;
    display: block;
    margin: 0 auto;

    @media #{$small-mobile-mq} {
        @include very-small;
    }
}

.team-member-info-wrapper {
    max-width: $site-width;
    margin: 0 auto;
}

.team-member-name-open-trigger-container {
    display: block;
    text-align: center;
    overflow: hidden;
}

$team-hr-width: 4000px;
$team-hr-height: 1px;
.team-member-name-open-trigger {
    @include large;
    display: inline-block;
    vertical-align: top;
    font-weight: 100;
    text-align: center;
    color: $med-blue;
    position: relative;

    @media #{$mobile-width-mq} {
        @include semi-large;
        font-weight: 100;
    }


    &:before,
    &:after {
        content: "";
        position: absolute;
        width: $team-hr-width;
        height: $team-hr-height;
        background-color: $very-light-blue;
        top: 50%;
    }

    &:before {
        left: ($team-hr-width + 35px) * -1;

        @media #{$small-mobile-mq} {
            left: ($team-hr-width + 10px) * -1;
        }

    }

    &:after {
        right: ($team-hr-width + 35px) * -1;

        @media #{$small-mobile-mq} {
            right: ($team-hr-width + 10px) * -1;
        }
    }
}

.team-member-name {
    @include extra-large;
    font-weight: 100;
    color: #fff;
    padding: 40px 0 10px 0;

    @media #{$mobile-width-mq} {
        text-align: center;
    }

    @media #{$small-mobile-mq} {
        @include semi-large;
    }
}

.team-member-title {
    @include medium;
    font-weight: 900;
    text-transform: uppercase;
    color: $light-blue;
    padding-bottom: 30px;

    @media #{$mobile-width-mq} {
        text-align: center;
    }

    @media #{$small-mobile-mq} {
        @include very-small;
    }
}

.team-member-bio {
    @include small;
    column-count: 2;
    column-gap: 30px;
    column-width: 400px;
    font-weight: 300;
    color: $dark-grey;

    @media #{$mobile-width-mq} {
        max-width: 440px;
        margin: 0 auto;
    }

    p {
        padding-bottom: 35px;
    }
}
