.team-content-container {
    @extend %main-content-wrapper;

    @media #{$mobile-width-mq} {
        margin-bottom: 44px;
    }
}

.team-header {
    @include extra-large-dark-blue-header;
    @include full-width-side-padding;
    padding-bottom: 5px;

    @media #{$mobile-width-mq} {
        max-width: 440px;
        margin: 0 auto;
        padding-top: 52.5px;
        padding-bottom: 6px;
    }
}

.team-member-name {
    @include extra-large-white-subheading;
}

.team-member-title {
    @include small-supporting-lightblue-uppercase-text;
}

.supporting-tagline {
    @include small-supporting-lightblue-uppercase-text;
}

.team-member-bio {
    display: table;
    width: 100%;
    margin-top: 50px;
}

.team-member-bio-column-one {
    padding-right: 45px;
}

.team-member-bio-column-two {
    padding-left: 45px;
}

.team-member-bio-column-one,
.team-member-bio-column-two {
    display: table-cell;
    width: 50%;

    @media #{$mid-width-mq} {
        display: block;
        width: 75%;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    p {
        @include paragraph-text-in-columns;
    }
}

.team-member-quote {
    position: relative;
    color: #fff;
    margin: 40px 0;
    padding: 30px 0;

    @media #{$mobile-width-mq} {
        margin: 70px 0;
    }

    p:last-of-type {
        margin: 30px 0;
        color: #fff;
    }
}

%member-quote-icon {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;

    &:before {
        font-size: 27px;
        color: $light-blue;
        position: relative;
        z-index: 2;
        background-color: $med-green;
        padding: 0 20px;
        height: 26px;
        display: inline-block;
        vertical-align: top;
    }

    &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $light-blue;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
    }
}

.team-member-open-quote-icon {
    @extend %member-quote-icon;
    top: 0;

    &:before {
        @include icon_quote-above;
    }
}

.team-member-close-quote-icon {
    @extend %member-quote-icon;
    bottom: 0;

    &:before {
        @include icon_quote-below;
    }
}

