{{#with global.pages.case-studies }}
    <div class="case-study-page">
        <div class="case-study-intro">
            {{> intro intro }}
        </div>
        <div class="case-study-content">
            {{#each callouts }}
                <h2 class="case-study-heading">{{{ name }}}</h2>
                <p class="case-study-content">{{{ section-content }}}</p>
            {{/each}}
        </div>
    </div>
{{/with }}

