{{#with global.pages.case-studies }}
    <div class="case-study-page">
        <div class="case-study-intro">
            {{> intro intro }}
        </div>
        <div class="case-study-content-container">
            {{#each callouts }}
                <div class="case-study">
                    <div class="case-study-heading-container" style="background-image: url({{ image }});">
                        <h2 class="case-study-heading">{{{ name }}}</h2>
                    </div>
                    <div class="case-study-summary-text-container">
                        <p class="case-study-summary-text">{{{ section-content }}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/with }}

