{{#with global.pages.case-studies }}
    <div class="case-study-page">
        <div class="case-study-intro">
            {{> intro intro }}
        </div>
        <div class="case-study-content-container">
            {{#each callouts }}
                <div class="case-study-heading-container">
                    <div class="case-study-heading-inner-container">
                        <h2 class="case-study-heading">{{{ name }}}</h2>
                    </div>
                </div>
                <div class="case-study-section-content-container">
                    <div class="case-study-section-content-inner-container">
                        <p class="case-study-section-content">{{{ section-content }}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/with }}

