{{#with global.pages.case-studies }}
<div class="case-study-page">
    {{> intro intro }}
    {{#each callouts }}
        <h2 class="case-study-heading">{{ name }}</h2>
        <p class="case-study-content">{{ section-content }}</p>
    {{/each}}
</div>
{{/with }}

