{{#with global.pages.contact }}
    <div class="contact-page">
        <div class="contact-intro">
            {{> intro intro }}
        </div>
    </div>
{{/with }}

{{#with global.pages.contact-thanks }}

    <div class="contact-thanks-wrapper">
        <h1 class="contact-thanks-header">{{ name }}</h1>
        <p class="contact-thanks-supporting-text">{{ supporting-text }}</p>
    </div>
{{/with}}
