{{#with global.pages.expertise }}
    <div class="expertise-page">
        {{> intro intro }}
        <div class="intro-continued-supporting-text-container">
            <div class="intro-continued-supporting-text">{{{ intro.continued-supporting-text }}}</div>
        </div>
        <section class="expertise-content-container">
            <h1 class="expertise-header">{{ subtitle }}</h1>
            <p class="supporting-tagline">{{ supporting-tagline }}</p>
            {{#each sections }}
                {{> drawer this }}
            {{/each }}
        </section>
    </div>
{{/with}}
