<div class="intro-container">
    <h1 class="home-intro-title">{{{ index.intro.title }}}</h1>
    <p class="intro-content">{{{ index.intro.content }}}</p>
    <button class="find-out-more-button">{{ index.intro.button }}</button>
</div>

<div class="overview-container">
    <ul class="overview-list">
        {{#each global.pages.expertise.sections }}
            <li>
                <a href="#">{{ name }}</a>
            </li>
        {{/each }}
    </ul>
</div>
