{{#with global.pages }}
    <div class="index-page">
        <div class="index-intro">
            {{> intro index.intro }}
        </div>
        <section class="expertise-overview">
            <div class="expertise-overview-container">
                <h1 class="expertise-overview-header">{{ expertise.subtitle }}</h1>
                <ul class="expertise-overview-list">
                    {{#each expertise.sections }}
                        <li>
                            <a href="#" class="expertise-list-link">
                                <span class="expertise-list-link-title">{{ name }}</span>
                            </a>
                        </li>
                    {{/each }}
                </ul>
            </div>
        </section>
    </div>
{{/with}}
