{{#with global.pages.team }}
    <div class="team-page">
        {{> intro intro }}
        <section class="team-content-container">
            <h1 class="team-header">{{ team-header }}</h1>
            {{#each team-members }}
                {{> drawer this }}
            {{/each}}
        </section>
    </div>
{{/with}}
