{{#with global.pages.team }}
    <div class="team-page">
        {{> intro intro }}
        <section class="team-content-container">
            <h1 class="team-header">{{ team-header }}</h1>
            <p class="supporting-tagline">{{ supporting-tagline }}</p>
            {{#each team-members }}
                {{> drawer this }}
            {{/each}}
        </section>
    </div>
{{/with}}
