html {
    @include font-smoothing(on);
    font-family: 'MuseoSans', sans-serif;
    background-color: #E2EDD9;
}

p {
    margin-bottom: 35px;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 900;
}
