<div class="logo-container">
    <a href="http://dev.hyphen8tion.com/greer-dailey/dist/index.html" title="Greer Dailey">
        <img src="images/gd-logo.svg" alt="Greer Daily Logo" title="Greer | Dailey" class="logo">
    </a>
</div>
