// Colors

$dark-blue:         #122B48;
$med-blue:          #1F4674;
$light-blue:        #0075B1;
$very-light-blue:   #7FBAD8;
$green-blue:        #B4CEC9;
$dark-green:        #3A8A00;
$med-green:         #9CC47F;
$light-green:       #E2EDD9;
$goldenrod:         #FFBF27;
$dark-grey:         #39393B;
