// Media Queries
$site-width-mq: '(max-width: #{$site-width})';
$mid-width-mq: '(max-width: #{$mid-width})';
$mobile-width-mq: '(max-width: #{$mobile-width})';
$small-mobile-mq: '(max-width: #{$small-mobile-width})';




