// Typography
@mixin extra-large {
    font-size: 60px;
    line-height: 1;
}

@mixin large {
    font-size: 40px;
    line-height: 1;
}

@mixin semi-large {
    font-size: 30px;
    line-height: 1;
}

@mixin medium {
    font-size: 20px;
    line-height: 1.2;
}

@mixin small {
    font-size: 18px;
    line-height: 1.4;
}

@mixin very-small {
    font-size: 14px;
    line-height: 1.3;
}
