// Typography

//Desktop
@mixin extra-large {
    font-size: 60px;
    line-height: 65px;
}

@mixin large {
    font-size: 40px;
    line-height: 45px;
}

@mixin semi-large {
    font-size: 30px;
    line-height: 33px;
}

@mixin medium {
    font-size: 20px;
    line-height: 23px;
}

@mixin small {
    font-size: 18px;
    line-height: 1.4;
}

@mixin very-small {
    font-size: 14px;
    line-height: 1.3;
}


//Mobile

@mixin mobile-extra-large {
    font-size: 30px;
    line-height: 32.5px;
}

@mixin mobile-large {
    font-size: 20px;
    line-height: 22.5px;
}

@mixin mobile-semi-large {
    font-size: 15px;
    line-height: 16.5px;
}

@mixin mobile-medium {
    font-size: 10px;
    line-height: 11.5px;
}

@mixin mobile-small {
    font-size: 9px;
    line-height: 1;
}

@mixin mobile-very-small {
    font-size: 7px;
    line-height: 1;
}
