@font-face {
    font-family: 'MuseoSans';
    font-weight: 100;
    src: url('../fonts/MuseoSans_100.otf');
}

@font-face {
    font-family: 'MuseoSans';
    font-weight: 300;
    src: url('../fonts/MuseoSans_300.otf');
}

@font-face {
    font-family: 'MuseoSans';
    font-weight: 500;
    src: url('../fonts/MuseoSans_500.otf');
}

@font-face {
    font-family: 'MuseoSans';
    font-weight: 700;
    src: url('../fonts/MuseoSans_700.otf');
}

@font-face {
    font-family: 'MuseoSans';
    font-weight: 900;
    src: url('../fonts/MuseoSans_900.otf');
}


