%reset-list-style {
    padding: 0;
    margin: 0;
    list-style: none;
}

%reset-dl-list-style {
    padding: 0;
    margin: 0;
}

%visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

%unvisuallyhidden {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

@mixin full-width-side-padding {
    padding-left: 50px;
    padding-right: 50px;
}

@mixin clear-side-padding {
    padding-left: 0;
    padding-right: 0;
}

@mixin extra-large-dark-blue-header {
    @include extra-large;
    font-weight: 100;
    color: $med-blue;
    text-align: center;
    padding-top: 115px;

    @media #{$mid-width-mq} {
        @include large;
        padding-top: 86px;
    }

    @media #{$mobile-width-mq} {
        @include semi-large;
    }
}

@mixin extra-large-white-subheading {
    @include extra-large;
    font-weight: 100;
    color: #fff;
    margin-bottom: 10px;

    @media #{$mid-width-mq} {
        @include large;
        @include full-width-side-padding;
        text-align: center;
    }

    @media #{$mobile-width-mq} {
        @include semi-large;
    }
}

@mixin small-supporting-lightblue-uppercase-text {
    @include small;
    font-weight: 900;
    color: $light-blue;
    text-transform: uppercase;
    margin-bottom: 25px;

    @media #{$mid-width-mq} {
        @include full-width-side-padding;
        @include very-small;
        text-align: center;
        margin-bottom: 0;
    }

    @media #{$mobile-width-mq} {
        @include very-small;
    }
}

@mixin paragraph-text-in-columns {
    @include small;
    font-weight: 300;
    color: $dark-grey;

    @media #{$mobile-width-mq} {
        @include very-small;
    }
}


%site-container {
    margin: 0 auto;
    max-width: $site-width;
}

%mobile-site-container {
    margin: 0 auto;
    max-width: $mobile-width;
}

%main-content-wrapper {
    background: $light-green;
    margin-bottom: 95px;
}

@mixin contact-form-label {
    @include medium;
    font-weight: 300;
    color: $dark-grey;

    @media #{$mobile-width-mq} {
        @include very-small;
    }
}

@mixin contact-form-input {
    @include medium;
    font-weight: 900;
    background-color: transparent;
    border: none;
    color: $light-blue;

    &:focus {
        outline: 0;
    }

    @media #{$mobile-width-mq} {
        @include very-small;
        padding: 25px 0 15px 0;
    }
}
